@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Bitter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

    /* body {
      font-family: Arial, sans-serif;
    } */

    /* nav {
      background-color: #0a0a0a;
      color: #fff;
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;  
      top: 0;           
      left: 0;          
      width: 100%;      
      z-index: 10;
      margin-bottom: 20px; 
    } */

    
    nav {
      background-color: #0a0a0a;
      color: #fff;
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 10;
      /* margin-bottom: 20px; */
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav-links {
      display: flex;
      gap: 1.5rem;
    }

    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s;
    }

    .nav-links a:hover {
      color: #ff6347;
    }

    .menu-icon {
      display: none;
      cursor: pointer;
      font-size: 2rem;
      user-select: none;
    }

    /* Mobile Styles */
    @media (max-width: 768px) {
      .menu-icon {
        display: block;
      }

      .nav-links {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 1rem;
        display: none;
      }

      .nav-links.show {
        display: flex;
      }

      .nav-links a {
        padding: 0.8rem 0;
        border-bottom: 1px solid #444;
      }

      .nav-links a:last-child {
        border-bottom: none;
      }
    }



    /* Marquee */
/* .marquee {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  animation: marquee 10s linear infinite;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  
} */

.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  /* background-color: black; */
  /* color: rgb(188, 207, 11); */
  padding: 10px;
  font-size: clamp(0.7rem, 2vw, 1.5rem);
  /* margin-bottom: 20px; */
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  color: rgb(151, 209, 149);
  /* text-transform: uppercase; */
  text-shadow: 
      1px 1px 0px #167533, 
      1px 2px 0px #067a4a, 
      0px 0px 0px #1e9124, 
      4px 4px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
}

.marquee span {
  display: inline-block;
  padding-right: 20%; 
  /* Gives it space to enter from the right */
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}